body {
    background-color: #000000;
    font-family: 'Mate SC', serif;
    text-align: center;
    color: #fff;
}

h4 {
    opacity: 0;
}

/*********************index.htlm******************/

/****************** Intro Section******************/

.intro-section {
    background-color: #000000;
    text-align: center;
    padding: 2%;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.intro {
    margin: 0;
    width: 100%;
}

.h1-intro {
    font-family: 'Dancing Script', cursive;
    margin-bottom: 0rem;
    font-size: 6vmax;
    /* color: #fff; */
    color: #00833E;
}

.h1-intro {
    opacity: 0;
}

#h1-introLg1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 5vmax;
    color: #FFD100;
    
    opacity: 0;
}

#h1-introLg2 {
    opacity: 0;
}

#h1-introLg2 a {
    display: inline-block;
    font-family: 'Permanent Marker', cursive;
    font-size: 2vmax;
    background-color: #fff;
    color: #00833E;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 50%;
    position: relative;
    border: none;
    box-shadow: 0 0 0 0 rgba(0, 131, 62, 1);
    background-repeat: no-repeat;
    -webkit-animation: pulse 1.2s infinite cubic-bezier(.66, 0, 0, 1);
    -moz-animation: pulse 1.2s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.2s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.2s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

#h1-introLg2 a:hover {
    display: inline-block;
    font-family: 'Permanent Marker', cursive;
    font-size: 3vmax;
    background-color: #FFD100;
    color: #00833E;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 50%;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}

.h4-intro {
    font-family: 'Dancing Script', cursive;
    color: #fff;
}

#introImg {
    text-align: center;
    max-width: 40%;
    max-height: 40%;
    @-webkit-keyframes myfirst
    {
    0%   {background-color: #fff;}
    50%  {background: #ccc;}
    100% {background: #fff;}
    }
}

/*********************home.htlm******************/

/*******************Title-Section********************/

.title-section {
    background-image: linear-gradient(#00833E, #111111);
    color: #fff;
}

.h2-title {
    font-family: 'Dancing Script', cursive;
    margin-bottom: 0rem;
    color: #fff;
    text-align: left;
    margin-left: 60px;
}

@media (max-width: 500px) {
    .h2-title {
        font-size: 55px;
    }
}

@media (min-width: 501px) {
    .h2-title {
        font-size: 90px;
    }
}


/**************** Nav Section ******************/

.navbar {
    font-size: 34px;
    font-family: 'Mate SC', serif;
    align-content: right;
    text-align: right;
}

@media (max-width: 500px) {
    .navbar {
        font-size: 24px;
    }
}

@media (min-width: 501px) {
    .navbar {
        font-size: 34px;
    }
}

.navbar-nav>li {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-collapse {
    align-content: right;
    text-align: right;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #00833E;
}

/*****************Video Container****************/

.video-wrapper {
    position: relative;
    margin-bottom: 2%;
}

.video {
    width: 70%;
}

.playButton {
    border-radius: 100px;
    border: 8px solid #fff;
    height: 100px;
    position: absolute;
    width: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    display: block;
    opacity: 0.95;
    transition: opacity 150ms;
}

.playButton:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 50px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: -10px;
    bottom: 0;
    margin: auto;
}

/************** Feature Section ******************/

.feature-section {
    color: #fff;
    background-color: #8F8F8C;
    padding: 7% 2% 2% 2%;
}

.featureTitleH1 {
    color: #00833E;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.2rem;
    padding-bottom: 5%;
}

@media (max-width: 500px) {
    .featureTitleH1 {
        font-size: 45px;
    }
}

@media (min-width: 501px) {
    .featureTitleH1 {
        font-size: 51px;
    }
}

.featureH1 {
    color: #fff;
    font-family: 'Permanent Marker', cursive;
    text-decoration-color: none;
    font-size: 2.1rem;
    padding-bottom: 2%;
}

.feature-box {
    border-radius: 50%;
    padding-bottom: 60px;
}

.feature-pics {
    padding 3% 5%;
    border: 5px solid #8F8F8C;
    height: 85%;
    width: 95%;
}

.feature-picsPg {
    border: 5px solid #8F8F8C;
    height: 555px;
    width: 855px;
}

/*******************Pricing Section************************/

.pricing-section {
    color: #000000;
    padding: 7% 2% 2% 2%;
}

.pricingH1 {
    color: #fff;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.2rem;
    padding-top: 5%;
}

.price-text {
    color: black;
    font-size: 3rem;
    line-height: 1.5;
}

.price-row {
    margin: 2%;
}

.pricing-column {
    padding: 3% 2% 5% 2%;
}

.hlh1 {
    color: yellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Permanent Marker', cursive;
}

.formbtn {
    padding-bottom: 2%;
}

.btnOutl {
    background-color: #00833E;
    color: #fff;
}

.btnOutl:hover {
    background-color: #00833E;
    color: #000000;
}

.feature-itemspg {
    margin: 200px;
}

/* Footer Section */

#footer {
    background-color: #8F8F8C;
    color: #fff;
    font-size: 1.5rem;
    padding: 1%;
}

/*******************Modal************************/

.modal-title {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.modal-footer {
    text-align: center;
}

.modal-body {
    text-align: center;
}

#featurebCS {
    border-radius: 2px;
    border-color: blue;
    font-family: Arial, Helvetica, sans-serif;
}




.fade-in {
    animation: fadeIn ease 15s;
    -webkit-animation: fadeIn ease 15s;
    -moz-animation: fadeIn ease 15s;
    -o-animation: fadeIn ease 15s;
    -ms-animation: fadeIn ease 15s;
  }@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
  